<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BrewView</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .user-auth {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>

    <div class="user-auth">
        {% if 'user_id' in session %}
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session['username'] }}</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
    </div>

    {% block content %}{% endblock %}

    <!-- If you're using Bootstrap, include its JS library. -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
